.menu{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}li > a{
    text-decoration: none;
    color: #0d1b2a;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:  antiquewhite;
    border-style: double;
    border-color: #0d1b2a;
    border-radius: 20px;
    padding: 20px; 
}
li > a:hover{
    background-color: antiquewhite;
    color: black;
    border-style: double;
    border-color: black;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}                                                                                                                                                                                .menu > a {
    background-color: black;
    border-color: antiquewhite;
    border-style: double;
    border-radius: 20px;
    background-color: antiquewhite;
}
.menu > a > img{
    width: 100px;
    height: 75px;
}
h2{
    font-size: 35px;
    text-align: center;
}
.reserve{
    background-color: black;
    width: 50%;
    height: 270px;
    margin-left: 25%;
    color: white;
    padding-top: 20px;
    margin-top: 50px;
}
footer{
    color: black;
    font-size: 25px;
    text-align: center;
}
label{
    font-size: 35px;
}
button{
    font-size: 30px;
}